header {
    text-align: center;
    color: blue
}

.jumbotron {
    background-color: aquamarine;
}

.city-search {
    border-bottom: 5px;
    margin: 0;
}

.current-weather {
    text-align: center;
    align-items: center;
}

li {
    list-style: none;
}